#logo {
    position: absolute;
    top: 0;
    margin: 10px;
    color: #FFFFFF
}
#saved_note_outer {
    width: 100%;
    padding: 6px 0px 6px 0px;
    background-color: #9EC0F7
}
#saved_note {
    margin: 0px 0px 0px 15px
}
#settings_links {
	float:right;
	margin-right: 15px;
	color: #B37652
}
#scanner_sensitivity {
    margin-top: 5px;
    margin-left: 18px;
}
#range2 {
    vertical-align: middle;
    position: relative;
    top: -10px
}
#image_scanner_box {
    padding: 0px 20px 5px 0px
}
#image_replacement_box {
    padding-left: 15px
}
#image_settings_box {
    padding-left: 25px;
    display: inline-block
}
#image_replacement_box,
#image_settings_box {
    float: left;
    vertical-align: top
}
#image_scanner_box,
.paragraph {
    border-right: 1px solid #989898;
    display: inline-block;
    float: left;
    vertical-align: top
}
#legendlabel {
	margin-bottom: 5px;
	text-align: center;
	font-weight: bold
}
#legend ul.legend li {
	display: inline-block
}
#legend ul.legend li span.plus {
	margin-left: 10px
}
#legend ul.legend li span.unset,
#legend ul.legend li span.one,
#legend ul.legend li span.two,
#legend ul.legend li span.three,
#legend ul.legend li span.all {
    margin-right: 5px;
    border: solid 1px #999;
	border: solid 1px #454545;
    height: 26px;
    width: 22px;
    float: left;
    position: relative;
	text-align: center
}
#legend ul.legend li.first {
	margin-right: 10px
}
#daygrid div.day label{
	display: inline-block;
    display: block;
    float: left;
    width: 50px;
    text-align: right;
    font-weight: bold;
    font-size: 16px;
    font-family: Lucida Sans Unicode
}
#daygrid div.day ul {
    position: relative;
    margin-left: 40px
}
#daygrid div.day ul li,
#hoursgrid div.day ul li {
    margin-right: 5px;
    height: 26px;
    width: 22px;
    float: left;
    position: relative;
	text-align: center
}
#hoursgrid div.day ul li,
#legend ul.legend li {
    margin: 0 3.4px 0 3.4px
}
#daygrid div.day ul li.one,
#daygrid div.day ul li.two,
#daygrid div.day ul li.three,
#daygrid div.day ul li.all,
#legend ul.legend li span.one,
#legend ul.legend li span.two,
#legend ul.legend li span.three,
#legend ul.legend li span.all {
	border: solid 1px #009F5A;
}
#daygrid div.day ul li.unset,
#legend ul.legend li span.unset {
	border: solid 1px #454545;
    background-image: url(../img/unset.png);
    background-repeat: no-repeat;
}
#daygrid div.day ul li.one,
#legend ul.legend li span.one {
    background-image: url(../img/one.png);
    background-repeat: no-repeat;
}
#daygrid div.day ul li.two,
#legend ul.legend li span.two {
    background-image: url(../img/two.png);
    background-repeat: no-repeat;
}
#daygrid div.day ul li.three,
#legend ul.legend li span.three {
    background-image: url(../img/three.png);
    background-repeat: no-repeat;
}
#daygrid div.day ul li.all,
#legend ul.legend li span.all {
    background-image: url(../img/all.png);
    background-repeat: no-repeat;
}
#daygrid div.day ul li.middle {
	width: 0;
	margin-top: 1px;
    border-color: #737576;
    border-style: dashed;
    border-width: 0 1.5px;
}
#hoursgrid div.day ul li.middle {
	width: 0;
    margin: 0 4.5px 0 4.5px
}
#hoursgrid{
    position: relative;
	margin-top: 15px;
	margin-bottom: 15px;
    margin-left: 80px;
	background-image: url(../img/night-day.png);
	background-repeat: no-repeat;
	color: #FFFFFF;
	font-family: Lucida Sans Unicode
}
.container {
    width: 800px;
    padding: 0px 30px 33px 30px;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    vertical-align: top;
    background: #EEEEEE none repeat scroll 0 0;
    -webkit-box-shadow: 0 0 20px #000000
}
.wrapper {
    overflow: hidden;
    max-height: 1000px;
    opacity: 1;
    -webkit-transition: max-height 0.8s;
    transition: max-height 0.8s, opacity 1s
}
.hidden.wrapper {
    max-height: 0;
    opacity: 0
}
.clear {
    clear: both
}
.inline {
    display: inline-block
}
.range {
    margin-left: 6px
}
.sub_text {
    font-size: 12px
}
.paragraph {
    padding: 0px 20px 0px 0px;
    margin: 0px 20px 5px 0px
}
.fillin_blank {
    border-width: 0px 0px 2px 0px;
    border-color: #8BADE4;
    background-color: #EEEEEE;
    text-align: center;
    font-family: Lucida Sans Unicode
}
.ampmlabel {
	display: inline-block;
	margin-right: 3px;
	width: 347.5px;
	text-align: center
}
.clearfix {
    display: block;
}
.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    width: 0;
    height: 0;
    content: ' ';
    font-size: 0;
    line-height: 0;
}
h2.title {
    display: inline-block
}
p.text {
    font-size: 15px
}
p.notice {
    margin-bottom: 0px;
    font-size: 13px;
    letter-spacing: 0.25px;
    color: #CB6D51;
    margin-left: 2em
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    background: #ffffff;
    box-shadow: 1px 1px 1px rgba(13, 13, 13, 0.2), 0px 0px 1px rgba(13, 13, 13, 0.2)
}
input[type=range]::-webkit-slider-runnable-track {
    background: -webkit-linear-gradient(left, rgba(255, 178, 178, 1), rgba(178, 255, 216, 0.8));
    background: linear-gradient(to right, rgba(255, 178, 178, 1), rgba(178, 255, 216, 0.8));
    border: 2px solid #CCCCCC
}
a {
    color: #CB6D51
}
table {
    width: 100%
}
th {
    font-size: 16px
}
td {
    width: 50%
}
textarea {
    width: 95%;
    border: 1px solid #CCCCCC;
    resize: none
}
ul {
    list-style: none;
}
div#legend {
	float: right;
	display: block;
	margin-right: 20px;
	width: 700px;
	border-bottom: 1px solid #9A9A9A;
    font-family: Lucida Sans Unicode;
	font-size: 12px
}
body {
    margin: 0;
    font-family: Tahoma;
    background: #EEEEEE url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAfAgMAAABiwP6qAAAADFBMVEVobHhqbnllaXdtcHmtITtVAAABHklEQVQY0wXBO0vDUAAG0C+hLUGLpprQFFq4fShpp6hxFO7FpKhkSGsdRAsZ1SmF7sY0SIQ6+Jwckg4i4iAOzu3gpiDYwaGruz+h58B/IQ+fXwDimnPDFQwRj2Du6eybCI/TmgVJBXJR0lrcPCfwMu9mTIsuRt4uPXyKAsxLGGso9dHbT1rLFcGGlmZ6E3AgSfWZhWdZBC9ul7xA74IpZ2Fqg1pgAx5+VmxhSCNKc20JO7HQH2W5CcLrqnkp513QopewmZ0AXzM4+0inuF/q2FpL8FBdCeoYHldwe/DDoIYB0N1qNwghoMkrlAX1Fbwi0wEpp9GZy5U4Qckjs7d6ITjyNxofJ73UnwFIfsUkk3+K3yJh1vqdCIVPaGOspacF7kYgvr/Z8wAAAABJRU5ErkJggg==") repeat scroll 0 0
}

/**
 * Modal
 **/
 
#modalBackground {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 11;
    background: rgba(0,0,0,.8)
}
.modal {
    display: none;
    position: relative;
    top: 50%;
    margin-top: -120px
}
[data-form="login"] .modal-windowBar {
    width: 335px;
}
[data-form="export"] .modal-windowBar {
    width: 231px;
}
[data-form="password"] .modal-windowBar {
    width: 160px;
}
.modal-windowBar {
    height: 22px;
    margin: 0 auto;
    position: relative;
	-webkit-transform: rotate(2deg);
	-webkit-user-select: none;
    color: #A3A2A2
}
.modal-windowBar p {
    display: inline-block;
    margin: 0 0 20px;
    padding: 5px;
    font-size: 18px;
    border-right: 1px solid #9A9A9A
}
.modalContainer {
    padding: 1px;
    width: auto;
    margin: 20px;
    text-align: center
}
.modalContent {
    position: relative;
	padding: 0 10px 20px 10px
}
.modalContent .button, .modalContent .button-disabled {
    display: block;
    margin: 5px auto
}
label[for=password] {
	font-size: 14px;
	font-weight: bold;
	color: rgba(0,0,0,.8)
}
[data-form="login"] [data-role="code"] {
    font-size: 10em;
    margin: 0;
	color: rgba(0,0,0,.8)
}
[data-role="password"] {
	padding: 6px 4px 4px 8px;
    border-width: 0px 0px 2px 0px;
    border-color: #8BADE4
}
[data-form="password"] [data-role="password"] {
	margin: 25px 0 5px 0
}
[data-form="export"] label[for="link"] {
    display: none;
}