<div id="wc_pane_root">
	<div id="wc_pane_header"><div id="wc_pane_title">Image Scanner<div id="wc_pane_close"><a class="wc_close" href="#">x</a></div></div></div>
	<div id="wc_pane_background" style="height: 95px">
		<div id="wc_pane_list">
			<div class="wc_pane_entry"><span id="wc_pane_images" class="wc_pane_left">0/0</span><span class="wc_pane_right">Images</span></div>
			<div class="wc_pane_entry"><span id="wc_pane_blocked" class="wc_pane_entry">0</span><span class="wc_pane_right">Blocked</span></div>
			<div class="wc_pane_entry"><span id="wc_pane_avg_pixels" class="wc_pane_entry">0%</span><span class="wc_pane_right">Avg. Pixels</span></div>
		</div>
	</div>
</div>