.container {
    width: 800px;
    padding: 0px 30px 33px 30px;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    vertical-align: top;
    background: #EEEEEE none repeat scroll 0 0;
    -webkit-box-shadow: 0 0 20px #000000
}
.progress-wrapper {
    width: 100%;
    height: 40px;
    margin-left: -3px;
    border: 3px solid #737576;
    box-sizing: content-box;
    background-color: #373A3C
}
.progress-bar {
    height: 100%;
    width: 100%;
    display: inline-block;
    position: relative;
    box-sizing: border-box
}
.progress-bar .progress-curr {
    height: 100%;
    display: block;
    box-sizing: border-box;
    background-color: #E20075;
    background-image: url(pixels.png);
    background-repeat: no-repeat;
    background-position: right;
    -webkit-transition: width 1s;
    transition: width 1s;
    border-style: solid;
    border-width: 2px 2px 2px 0px
}
.progress-toplabels {
    width: 100%;
    height: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: Lucida Sans Unicode
}
.progress-labels-wrapper {
    position: relative;
    display: block
}
.progress-mslabel {
    position: absolute;
    display: inline-block
}
.progress-mslabel.progress-lastms {
    transform: translate(-100%, 0)
}
.progress-mslabel:not(.progress-firstms):not(.progress-lastms) {
    transform: translate(-50%, 0)
}
.progress-mss-wrapper {
    display: block;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0
}
.progress-mss {
    display: block;
    height: 100%;
    width: 100%;
    position: relative
}
.progress-ms {
    display: block;
    height: 100%;
    position: absolute;
    border-color: #9E0051;
    border-style: dashed;
    border-width: 0 1.5px
}
.progress .progress-toplabels {
    box-sizing: border-box;
    padding: 0 25px
}
.progress .progress-bar:before {
    height: 40px;
    width: 25px;
    position: absolute;
    top: 0;
    left: 0;
    content: ' ';
    background-color: #E20075;
    box-sizing: border-box;
    -webkit-transition: width .2s left .2s;
    transition: width .2s left .2s;
    border-style: solid;
    border-width: 2px 0 2px 2px
}
.progress .progress-bar .progress-progress {
    border-width: 2px 0 2px 0
}
.progress .progress-firstms,
.progress .progress-lastms {
    display: block
}
.progress-toplabels .progress-mslabel,
.progress-bottomlabels .progress-mslabel {
    font-size: 16px;
    color: #737576
}
.progress,
.progress-mss-wrapper {
    padding: 0 25px
}
.clearfix {
    display: block;
}
.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    width: 0;
    height: 0;
    content: ' ';
    font-size: 0;
    line-height: 0;
}
body {
	margin: 0px;
    background: #EEEEEE url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAfAgMAAABiwP6qAAAADFBMVEVobHhqbnllaXdtcHmtITtVAAABHklEQVQY0wXBO0vDUAAG0C+hLUGLpprQFFq4fShpp6hxFO7FpKhkSGsdRAsZ1SmF7sY0SIQ6+Jwckg4i4iAOzu3gpiDYwaGruz+h58B/IQ+fXwDimnPDFQwRj2Du6eybCI/TmgVJBXJR0lrcPCfwMu9mTIsuRt4uPXyKAsxLGGso9dHbT1rLFcGGlmZ6E3AgSfWZhWdZBC9ul7xA74IpZ2Fqg1pgAx5+VmxhSCNKc20JO7HQH2W5CcLrqnkp513QopewmZ0AXzM4+0inuF/q2FpL8FBdCeoYHldwe/DDoIYB0N1qNwghoMkrlAX1Fbwi0wEpp9GZy5U4Qckjs7d6ITjyNxofJ73UnwFIfsUkk3+K3yJh1vqdCIVPaGOspacF7kYgvr/Z8wAAAABJRU5ErkJggg==") repeat scroll 0 0
}